.upgrade-but-container{
    display: inline-block;
    padding: 8px;
}
.upgrade-but{
    padding: 15px;
}
.upgrade-info-container{
    display: inline-block;
    padding: 8px;
}

.cost-text{
    font-style: italic;
}

.block{
    padding:20px;
    display: inline-block;
    vertical-align: top;
}
#journal{
    width:250px;
    height:300px;
    padding: 5px;
    border:1px black solid;
    overflow: hidden;
}